<html>
    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

<div class="background">
    <h1>An analysis of the obsession of our generation with Dinosaurs </h1>
    <div class="half">
        <h2>1. They are lizards (╹ڡ╹)╭</h2>
        <p>Lizards are cool. While the older generations feared lizards, we like them. Lizards cool.</p>
        <h2>2. They are big ᕦ(ò_óˇ) </h2>
        <p>Bigger things than us are cool. We like bigger things, like skyscrapers.</p>
        <h2>3. We want to ride them ♞♘ </h2>
        <p>No more comment needed</p>
        <h2>4. Gods from other world _ /＼o_ </h2>
        <p>Mysterious things we like. Mystery cool.</p>
        <p>Thank you for coming to my ted-talk</p>

    </div>
    <div class="half">
        <i class="fas fa-dragon"></i>
    </div>

    <div class="dino content">
        <h1>Learn more about the amazing dinosaurs</h1>
    </div>
</div>
</body>

<%- include('./partials/footer.ejs') %>

</html>
